.bgBuddha {
  background-image: url("./img/buddha.svg");
  min-height: 40vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.bgPaperBoy {
  background-image: url("./img/paperBoy.svg");
  min-height: 35vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}



.bgAstronaut {
  background-image: url("./img/astronaut.svg");
  min-height: 20vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.bgTreasure {
  background-image: url("./img/treasurechest.svg");
  min-height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.skewed {
  transform: skew(0deg, -7deg);;
}


.higher {
  min-height: 80vh;
}


.Noto700 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.Noto600 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}



.bgColor {
  background-color: hsla(299, 49%, 62%, 1);
}

.color {
  color: hsla(299, 49%, 62%, 1);
}

















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



